<script src="../../model/customer.ts"></script>
<div class="row" style="margin-top: 130px; position: relative">
  <div class="container-fluid" style="text-align: center" >
    <h1>CUSTOMER LIST</h1>
    <button class="btn btn-outline-success btn-sm w-25" routerLink="/customer/create"><i class="fas fa-plus-square"></i>CREATE</button>
    <br>
    <div class="container" style="margin-left: 1000px">
      <form class="form-inline my-2 my-lg-0" *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="searchCustomer()">
        <input class="form-control mr-sm-2" type="search" formControlName="name" placeholder="Name" ><br>
        <input  class="form-control mr-sm-2" type="search" formControlName="address" placeholder="Address" ><br>
        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
      </form>
    </div>
    <br>
    <table class="table table-striped table-active table-bordered ">
      <thead >
      <tr style="text-align: center">
        <td scope="col">STT</td>
        <td scope="col">ID Customer</td>
        <td scope="col">Name</td>
        <td scope="col">Date Of Birth</td>
        <td scope="col">Email</td>
        <td scope="col">Address</td>
        <td scope="col">ID Card</td>
        <td scope="col">Phone</td>
        <td scope="col">Customer type</td>
        <td scope="col">Action</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customerList| slice: (page-1) * pageSize : page * pageSize, index as i" style="text-align: center">
        <td scope="col">{{i + 1}}</td>
        <td scope="col">{{customer.idCustomer}}</td>
        <td scope="col">{{customer.name}}</td>
        <td scope="col">{{customer.dateOfBirth}}</td>
        <td scope="col">{{customer.email}}</td>
        <td scope="col">{{customer.address}}</td>
        <td scope="col">{{customer.idCard}}</td>
        <td scope="col">{{customer.phone}}</td>
        <ng-container *ngFor="let customerType of customerType; index as i">
          <td *ngIf="customerType.id == customer.typeCustomer">
            {{customerType.name}}
          </td>
        </ng-container>
        <td scope="col-span 2">
          <button class="btn btn-outline-warning" [routerLink]="['/customer/update',customer.id]"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" (click)="sendId(customer.id)" >
            <i class="fas fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="customerList.length"></ngb-pagination>
  </div>
</div>

<!-- Button trigger modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you want to delete <span style="color: red">{{name}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
