<h3>Caculator</h3>
<p>Number 1:</p>
<input type="number" [(ngModel)]="num1"  class="form-control">
<select
  class="form-input"
  [value]="operator"
  (change)="setOperator($event)">
  <option value="+">+</option>
  <option value="-">-</option>
  <option value="*">*</option>
  <option value="/">/</option>
</select>
<p>Number 2:</p>
<input type="number" [(ngModel)]="num2"  class="form-control" >

<br>
<input value="Result" class="btn btn-outline-primary" (click)="getResult()" >
<h4>Result = <span style="color: blue">{{result}}</span></h4>


