<h1>Xoá sản phẩm</h1>
<form [formGroup]="employeeForm" (ngSubmit)="deleteEmployee(id)">
  <table>
    <tr>
      <td>ID:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
<!--    <tr>-->
<!--      <td>Email</td>-->
<!--      <td><input type="text" formControlName="email"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Address</td>-->
<!--      <td><input type="text" formControlName="address"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>ID Card</td>-->
<!--      <td><input type="text" formControlName="idCard"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Phone</td>-->
<!--      <td><input type="text" formControlName="phone"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Salary</td>-->
<!--      <td><input type="text" formControlName="salary"></td>-->
<!--    </tr>-->
    <tr>
      <td><button class="btn-outline-warning">Delete</button></td>
    </tr>
  </table>
</form>
