<div class="row" style="margin-top: 130px; position: relative">
  <div class="container" style="text-align: center" >
<h1>Create Customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="submit()">
  <div class="row" hidden>
    <label for="id">ID :</label>
    <input class="form-control" id="id" type="text" formControlName="id" >
    <p style="color: red"
       *ngIf="customerForm.controls.id.hasError('required') && customerForm.controls.id.dirty">
      Please enter ID Customer!
    </p>
  </div>
  <div class="row">
      <label for="idCustomer">ID Customer:</label>
      <input class="form-control" id="idCustomer" type="text" formControlName="idCustomer" >
      <p style="color: red"
          *ngIf="customerForm.controls.idCustomer.hasError('required') && customerForm.controls.idCustomer.dirty">
        Please enter ID Customer!
      </p>
    <p style="color: red"
       *ngIf="customerForm.controls.idCustomer.hasError('pattern') && customerForm.controls.idCustomer.dirty">
      ID Customer format KH-xxxx !
    </p>
  </div>
  <div class="row">
    <label for="name">Name:</label>
    <input class="form-control" id="name" type="text" formControlName="name" >
    <p style="color: red"
       *ngIf="customerForm.controls.name.hasError('required') && customerForm.controls.name.dirty">
      Please enter ID Customer!
    </p>
  </div>
  <div class="row">
    <label for="birthday">Date of Birth:</label>
    <input class="form-control" id="birthday" type="date" formControlName="dayOfBirth" >
    <p style="color: red"
       *ngIf="customerForm.controls.dayOfBirth.hasError('required') && customerForm.controls.dayOfBirth.dirty">
      Please choose Date of birth Customer!
    </p>
    <p style="color: red"
       *ngIf="customerForm.controls.dayOfBirth.hasError('invalid18') && customerForm.controls.dayOfBirth.dirty">
      Birthday must be > 18!
    </p>
  </div>
  <div class="row">
    <label for="email">Email:</label>
    <input class="form-control" id="email" type="text" formControlName="email" >
    <p style="color: red"
       *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.dirty">
      Please enter your email !
    </p>
    <p style="color: red"
       *ngIf="customerForm.controls.email.hasError('pattern') && customerForm.controls.email.dirty">
      Email incorrect format !
    </p>
  </div>
  <div class="row">
    <label for="address">Address:</label>
    <input class="form-control" id="address" type="text" formControlName="address" >
    <p style="color: red"
       *ngIf="customerForm.controls.address.hasError('required') && customerForm.controls.address.dirty">
      Please enter your address !
    </p>
  </div>
  <div class="row">
    <label for="idCard">ID Card:</label>
    <input class="form-control" id="idCard" type="text" formControlName="idCard" >
    <p style="color: red"
       *ngIf="customerForm.controls.idCard.hasError('required') && customerForm.controls.idCard.dirty">
      Please enter your ID Card !
    </p>
    <p style="color: red"
       *ngIf="customerForm.controls.idCard.hasError('maxlength') && customerForm.controls.idCard.dirty">
      ID Card must be 10 number !
    </p>
  </div>
  <div class="row">
    <label for="phone">Phone:</label>
    <input class="form-control" id="phone" type="text" formControlName="phone" >
    <p style="color: red"
       *ngIf="customerForm.controls.phone.hasError('required') && customerForm.controls.phone.dirty">
      Please enter your email !
    </p>
    <p style="color: red"
       *ngIf="customerForm.controls.phone.hasError('pattern') && customerForm.controls.phone.dirty">
      Phone format +84-... !
    </p>
  </div>
  <div class="row">
    <div>Gender : </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" formControlName="gender">
      <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="FeMale" formControlName="gender">
      <label class="form-check-label" for="inlineRadio2">FeMale</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Other" formControlName="gender">
      <label class="form-check-label" for="inlineRadio3">Other</label>
    </div>
    <p style="color: red"
        *ngIf="customerForm.controls.gender.hasError('required') && customerForm.controls.gender.touched">
      Please choose your gender !
    </p>
  </div>
  <div class="row" style="text-align: center">
      <button class="btn btn-outline-success" [disabled]="!customerForm.valid"  >Create</button>
  </div>
</form>
  </div>
</div>
